
/* global */

.no-padding { padding: 0;}
a { color: #eb1c23;}
a:hover, a:focus { text-decoration: none; outline: inherit;}

/* ++++++++++++++++++++++++++++++
 Typography 
+++++++++++++++++++++++++++++++++*/
body { font-family: Arial;}
.main-navigation ul li, .main-navigation ul li a { font-family: 'Georgia', Arial;}
p { font: 16px  Arial; color: #000000; line-height: 19px; margin-bottom: 20px;}
.h1 { font: bold 25px  'Georgia', Arial; color: #000000; margin: 0 0 41px 0; padding: 0; }
.h2 { font: bold 28px  Arial; color: #000000; margin: 0 0 12px 0; padding: 0; }


/* +++++++++++++++++++++++++++++++
    Header
+++++++++++++++++++++++++++++++++*/
.header { min-height: 55px;}
.brands { padding: 18px 0 10px 11px; width: 278px; margin-bottom: 35px;}
.brands img { max-width: 100%; height: auto;}
.nav-wrapper { width: 820px;}
/* navigation */
.main-navigation { text-align: right; padding-top: 24px; padding-bottom: 10px;}
.main-navigation ul { margin: 0; padding: 0; display: inline-block; vertical-align: top; list-style: none;}
.main-navigation ul li, .main-navigation ul li a { float: left; font-size: 14px; color: #000000; font-family: "Open Sans",Arial,Helvetica,sans-serif; text-transform: uppercase;}
.main-navigation ul li a { padding: 7px 14px; }
.main-navigation ul li:last-child a {padding-right: 0;}
.main-navigation ul li a:hover, .main-navigation ul li.active a { color: #eb1c23;}

/* +++++++++++++++++++++++++++++++
    Banner
+++++++++++++++++++++++++++++++++*/

.main-banner { height: 400px; background: url(images/banner_images.jpg) no-repeat 50% 0%; background-size: cover; border-bottom: 1px solid #eb1c23;}
.main-banner .caption, .main-banner .caption p { font: 50px/48px 'Georgia', Arial; color: #ffffff; font-weight: bold; text-shadow: 2px 2px 3px #000402; text-shadow: 2px 2px 3px rgba(0, 0, 0, .4); position: relative;}
.main-banner .caption { padding-top: 76px; width: 538px; padding-left: 11px;}
.main-banner .caption p:before { content: " "; width: 38px; height: 8px; background: #eb1c23; position: absolute; top: -12px; left: 0;}

/* +++++++++++++++++++++++++++++++
    intro secrion
+++++++++++++++++++++++++++++++++*/
.intro-sec {  padding: 54px 0 25px ;}
.intro-sec .container { padding: 0 15px;}

/* +++++++++++++++++++++++++++++++
    download secrion
+++++++++++++++++++++++++++++++++*/
.download-section { padding: 20px 0; margin-bottom: 59px;}
.download-section .h1 { margin-bottom: 33px;}
.down-content-card { width: 425px; min-height: 492px; box-shadow: 2px 2px 7px #757977; box-shadow: 2px 2px 7px rgba(0, 4, 2, .3); background: #ffffff; display: inline-block; margin: 0 10px 20px 10px; vertical-align: top; text-align: left;}

.download-form { background: #e0e0e0; padding: 24px 22px;}
.download-form label { font-size: 14px; font-weight: normal;}
.form-control { height: 40px; padding: 8px 12px; border-radius: 0; }
.download-form .form-control {border: none;} 
.download-form .form-group { margin-bottom: 6px;}
.form-submit-row { padding-top: 12px; padding-bottom: 10px;}
.red-btn-big { background: #912730; padding: 14px 16px; font: 24px  Arial; color: #ffffff; width: 100%;}
.red-btn-big:hover { background: #c33642; color: #ffffff;}

/* +++++++++++++++++++++++++++++++
    footer
+++++++++++++++++++++++++++++++++*/
.site-footer { background: #696969; padding: 22px 0 18px;}
.site-footer a { color: #ffffff;}
.site-footer a:hover { text-decoration: underline;}
.fooler-right-col { text-align: right;}
.foo-wid { display: inline-block; vertical-align: top;}
.fooler-right-col p { font-size: 12px; font-weight: bold; color: #ffffff; margin-bottom: 0; line-height: 31px;}
.fooler-right-col .so-link { width: 31px; height: 31px; background-color: #ffffff; display: inline-block; text-align: center; border-radius: 100%; margin: 0 13px;}
.fooler-right-col .so-link:hover { background-color: #912730;}
.you_icon { background-image: url(images/you_tube_icon.png); background-repeat:  no-repeat; background-position:  50% 50%;}
.facebook_icon { background-image: url(images/facebook-con.png); background-repeat:  no-repeat; background-position:  50% 50%;}
.twitter_icon { background-image: url(images/twitter_icon.png); background-repeat:  no-repeat; background-position:  50% 50%;}
.in_icon { background: url(images/in_icon.png); background-repeat:  no-repeat; background-position:  50% 50%;}
.you_icon:hover { background-image: url(images/you_tube_icon-h.png); background-repeat:  no-repeat; background-position:  50% 50%;}
.facebook_icon:hover { background-image: url(images/facebook-con-h.png); background-repeat:  no-repeat; background-position:  50% 50%;}
.twitter_icon:hover { background-image: url(images/twitter_icon-h.png); background-repeat:  no-repeat; background-position:  50% 50%;}
.in_icon:hover { background: url(images/in_icon-h.png); background-repeat:  no-repeat; background-position:  50% 50%;}


/* +++++++++++++++++++++++++++++++
    responsive
+++++++++++++++++++++++++++++++++*/
@media screen and (min-width: 1200px)  { .container { width: 1103px; margin: 0 auto;} }

@media screen and (max-width: 1199px) {
    .brands, .nav-wrapper { text-align: center; width: 100%;}
    .main-navigation { text-align: center; margin-bottom: 30px;}
    .brands { margin-bottom: 0; padding-left: 15px; padding-right: 15px;}
}
@media screen and (max-width: 992px) { 
    .brands, .nav-wrapper, .main-navigation, .fooler-left-col, .fooler-right-col { text-align: center; padding-left: 0; padding-right: 0;}
    .main-navigation ul li { float: none; display: inline-block; vertical-align: top;}
    .fooler-left-col{ margin-bottom: 15px;}
    img { max-width: 100%; height: auto;}
     .brands { margin-bottom: 0; padding-left: 15px; padding-right: 15px;
}

@media screen and (max-width: 768px) {  
    .main-banner .caption { width: 100%;}
    .main-banner .caption, .main-banner .caption p { font-size: 30px;}
}

@media screen and (max-width: 520px) {
    .down-content-card { width: 90%; text-align: center;}
    .h2 { font-size: 23px;}
    .download-form-container { text-align: left;}
}